Generating Reports.json
{
  "name": "Generating Reports",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        -304
      ],
      "id": "da712d95-f1e5-436b-8d6e-677b95abff28",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "sendTo": "manjeet783046singh@gmail.com",
        "subject": "Your TPS Reports",
        "emailType": "text",
        "message": "Please find your TPS report attached.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "0444024f-072b-48da-ab18-f4ce14800b8b",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        -400
      ],
      "webhookId": "8f149475-8ce0-4f9a-8e00-1560071b778d",
      "credentials": {
        "gmailOAuth2": {
          "id": "mYpYhdm9OKeXNtSd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appGsy0qSsoo0qXT4",
          "mode": "list",
          "cachedResultName": "Grid view.csv",
          "cachedResultUrl": "https://airtable.com/appGsy0qSsoo0qXT4"
        },
        "table": {
          "__rl": true,
          "value": "tblVRJTr9HSuwIQLD",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/appGsy0qSsoo0qXT4/tblVRJTr9HSuwIQLD"
        },
        "options": {}
      },
      "id": "b9e14ce8-d670-48c6-ad44-d7dff8018e61",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -384,
        -208
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "DEcb7Skw8l2oyFCh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/level2-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "recFIcD6UlSyxaVMQ"
            }
          ]
        },
        "options": {}
      },
      "id": "9e4a0201-4e21-42d8-8815-e96d58be9363",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -384,
        -400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dqCQb0JMRzIB2069",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "customerID",
              "field2": "﻿customerID"
            }
          ]
        },
        "options": {}
      },
      "id": "d5a1dee0-8fd4-4151-81c4-3549083711bb",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -160,
        -304
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "orderPrice",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "55023eef-10c4-4e19-86ad-236b88726b75",
      "name": "Sort1",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        64,
        -304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d3afe65c-7c80-4caa-9d1c-33c62fbc2197",
              "leftValue": "={{ $json.region }}",
              "rightValue": "Americas",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1d18be52-952e-43f6-bed9-1d4417fea441",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        288,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "fileName": "=report_orderID_{{ $('If1').item.json.orderID }}.json"
        }
      },
      "id": "88e0faf6-5a8a-401a-a3a9-02728dc7b129",
      "name": "Convert to File2",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        496,
        -400
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=I sent the file using email with the label ID {{ $json.id }} and wrote the binary file report_orderID_{{ $('If1').item.json.orderID }}.json. My ID: b23b3a41cfe2a20544639494171732e9",
        "options": {}
      },
      "id": "39f35a26-92cb-46d4-bcb1-f994451e9c19",
      "name": "Discord2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        944,
        -400
      ],
      "webhookId": "3022650f-0903-4b5a-b8e0-7f97205a54c5",
      "credentials": {
        "discordWebhookApi": {
          "id": "uWgL2NnHpufFxrg4",
          "name": "Discord Webhook account 4"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "305d55f9-0d71-4cfa-99d3-1b84aae01862",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        288,
        -208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce839b80-c50d-48f5-9a24-bb2df6fdd2ff",
              "name": "customerEmail",
              "value": "={{ $json.customerEmail }}",
              "type": "string"
            },
            {
              "id": "0c613366-3808-45a2-89cc-b34c7b9f3fb7",
              "name": "region",
              "value": "={{ $json.region }}",
              "type": "string"
            },
            {
              "id": "0f19a88c-deb0-4119-8965-06ed62a840b2",
              "name": "customerSince",
              "value": "={{ $json.customerSince }}",
              "type": "string"
            },
            {
              "id": "a7e890d6-86af-4839-b5df-d2a4efe923f7",
              "name": "orderPrice",
              "value": "={{ $json.orderPrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "10e04053-dff6-466b-879b-9da0063ed057",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        496,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.customerSince }}",
        "options": {
          "includeInputFields": true
        }
      },
      "id": "4540e764-1317-475a-a85f-6e16f2f545a1",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        720,
        -208
      ]
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{$runIndex > 0 ? 'file_low_orders':'file_high_orders'}}"
        }
      },
      "id": "6489f150-aa57-4635-8168-c29fc98311ef",
      "name": "Convert to File3",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        944,
        -208
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "I created the spreadsheet {{$runIndex > 0 ? 'file_low_orders':'file_high_orders'}}. My ID: b23b3a41cfe2a20544639494171732e9",
        "options": {}
      },
      "id": "a7f1885e-2e3e-4d55-afcb-bcb527f870cb",
      "name": "Discord3",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1168,
        -208
      ],
      "webhookId": "71cf4a62-fbd1-4eb8-91cf-618466964d3d",
      "credentials": {
        "discordWebhookApi": {
          "id": "uWgL2NnHpufFxrg4",
          "name": "Discord Webhook account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Discord2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "Discord3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "266dee6b-f37d-4e05-8a32-324ae4b3ae1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a62df5844f561f9aae823133681b7e5eab20033142d09af76b1b1b78a0c7acea"
  },
  "id": "bVDiyHDWNO0hsJ93",
  "tags": []
}